// colors
$primary: #213F7D;
$secondary: #39CDCC;
$info: #545F7D;
$white: #ffffff;
$success: #39CD62;
$warning: #E9B200;
$danger: #E4033B;


// button color
$inactive: $info;
$active: $success;
$pending: $warning;
$blacklisted: $danger;
