@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}
.search input {
  background-color: #ffffff;
  margin: 20px 0;
  width: 100%;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  border-radius: 8px 0px 0px 8px;
}
.search input::-moz-placeholder {
  color: #545f7d;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.7;
}
.search input::placeholder {
  color: #545f7d;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.7;
}
.search button {
  display: inline-block;
  border: none;
  background-color: #39CDCC;
  padding: 10px;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1em;
  height: 40px;
  border-radius: 0px 8px 8px 0;
  width: 56px;
}
.search button:hover {
  filter: brightness(0.9);
}

/* navbar becomes mobile sidebar under lg breakpoint */
@media (max-width: 992px) {
  .navbar {
    display: flex;
    z-index: 1000 !important;
  }
  .search, .docs {
    display: none !important;
  }
  .navbar-brand {
    z-index: 99;
  }
  .navbar-collapse.collapsing .navbar-nav {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: -60% !important;
    transition: all 0.2s ease;
  }
  .navbar-collapse.show .navbar-nav {
    position: fixed;
    background-color: #ffffff;
    top: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    height: auto;
    width: 60% !important;
    transition: left 0.35s ease;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }
  .navbar-toggler {
    border: none !important;
  }
}
@media (min-width: 992px) {
  .mobile-menu {
    display: none;
  }
}
th {
  color: #545F7D;
  font-size: 12px;
  font-weight: 600;
  padding: 21px 0;
}

tr td {
  color: #545F7D;
  font-size: 14px;
  font-weight: 400;
  padding: 21px 5px !important;
}

.btn-inactive {
  padding: 7px 18px;
  border-radius: 100px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  color: #545F7D;
  background-color: rgba(84, 95, 125, 0.06);
}
.btn-inactive:hover {
  filter: brightness(0.9);
}

.btn-active {
  padding: 7px 18px;
  border-radius: 100px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  color: #39CD62;
  background-color: rgba(57, 205, 98, 0.06);
}
.btn-active:hover {
  filter: brightness(0.9);
}

.btn-pending {
  padding: 7px 18px;
  border-radius: 100px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  color: #E9B200;
  background-color: rgba(233, 178, 0, 0.1);
}
.btn-pending:hover {
  filter: brightness(0.9);
}

.btn-blacklisted {
  padding: 7px 18px;
  border-radius: 100px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  color: #E4033B;
  background-color: rgba(228, 3, 59, 0.1);
}
.btn-blacklisted:hover {
  filter: brightness(0.9);
}

label {
  font-size: 14px;
  font-weight: 500;
  color: #545F7D;
}

.user-details {
  margin-top: 100px;
  padding: 32px 0 !important;
}
.user-details .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.user-details .details h4 {
  color: #213F7D;
  font-size: 24px;
  font-weight: 500;
  padding-top: 32px;
}
.user-details .details button {
  background-color: transparent;
  margin: 0 10px;
  font-size: 14px;
  font-weight: 600;
  padding: 12px 22px;
  width: 170px;
  border-radius: 8px;
}
.user-details .details .blacklist-user {
  border: 1px solid #E4033B;
  color: #E4033B;
}
.user-details .details .blacklist-user:hover {
  background-color: #E4033B;
  color: #ffffff;
}
.user-details .details .activate-user {
  border: 1px solid #39CDCC;
  color: #39CDCC;
}
.user-details .details .activate-user:hover {
  background-color: #39CDCC;
  color: #ffffff;
}
.user-details .general {
  margin-top: 25px;
  transform: translateY(13px);
}
.user-details .general .col-md-2 .details {
  display: flex;
  justify-content: center;
  color: #39CDCC;
  border-bottom: 2px solid #39CDCC;
}
.user-details .general .col-md-2 .general-details span {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  padding-bottom: 7px;
}
.user-details .general .col-md-2 .general-details:hover {
  cursor: pointer;
  color: #39CDCC !important;
  border-bottom: 2px solid #39CDCC;
}
.user-details .name h5 {
  color: #213F7D;
  font-size: 22px;
  font-weight: 500;
}
.user-details .name small {
  color: #545F7D;
  font-size: 14px;
  font-weight: 400;
}
.user-details .tier {
  border-right: 1px solid #545F7D;
  border-left: 1px solid #545F7D;
}
.user-details .tier h5 {
  color: #213F7D;
  font-size: 14px;
  font-weight: 600;
}
.user-details .tier small {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  color: #E9B200;
}
.user-details .amount h5 {
  color: #213F7D;
  font-size: 22px;
  font-weight: 500;
}
.user-details .amount small {
  color: #213F7D;
  font-size: 14px;
  font-weight: 400;
}
.user-details .info h5 {
  color: #213F7D;
  font-size: 16px;
  font-weight: 500;
  margin: 30px 0;
}
.user-details .info h6 {
  color: #545F7D;
  font-size: 12px;
  text-transform: uppercase;
}
.user-details .info p {
  color: #545F7D;
  font-size: 16px;
  font-weight: 600;
}
.user-details .info hr {
  margin: 12px 0 0 0px;
}

@media only screen and (max-width: 992px) {
  .general {
    display: none;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif !important;
}

a {
  text-decoration: none !important;
  color: #213F7D !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f7f7f7;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #545F7D;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #39CDCC;
}

.welcome h1 {
  color: #213F7D;
  font-weight: 700;
  font-size: 40px;
}
.welcome p {
  font-weight: 400;
  color: #545F7D;
  font-size: 20px;
  margin-bottom: 60px;
}
.welcome input {
  border: none;
  height: 50px;
  background-color: #ffffff !important;
  border: 2px solid rgba(84, 95, 125, 0.15);
  border-radius: 5px;
}
.welcome small {
  transform: translate(-20px, -30px);
  color: #39CDCC;
  font-weight: 600;
  font-size: 12px;
  width: 30px;
}
.welcome small:hover {
  cursor: pointer;
  filter: brightness(0.9);
}
.welcome a {
  color: #39CDCC !important;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1em;
}
.welcome button {
  display: inline-block;
  border: none;
  background-color: #39CDCC;
  padding: 10px;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.1em;
  height: 48px;
  width: 100%;
  border-radius: 8px !important;
  margin-top: 30px;
  margin-bottom: 30px;
}
.welcome button:hover {
  filter: brightness(0.9);
}

.main {
  display: flex;
}
.main .left {
  width: 17%;
  background-color: #ffffff;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
}
.main .main-page {
  width: 83%;
}

.dots {
  cursor: pointer;
}

.dropdown-menu[data-bs-popper] {
  top: 170% !important;
  left: -22px !important;
}

@media only screen and (max-width: 992px) {
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left {
    display: none;
  }
  .main-page {
    width: 100%;
  }
  /* width */
  ::-webkit-scrollbar {
    width: 0px;
  }
}
.active > .page-link {
  background-color: #39CDCC !important;
  color: #213F7D !important;
}/*# sourceMappingURL=index.css.map */